	.thcolumn1{
		max-width:100px;
	}
	.divthcolumn1{
	    white-space: nowrap; 
	    overflow: hidden;
	    text-overflow: ellipsis; 
	    cursor:pointer;
	    position:relative;
	    top:0px;
	    left:0px;
	}

	.thcolumn2{
		max-width:100px;
	}
	.divthcolumn2{
	    white-space: nowrap; 
	    overflow: hidden;
	    text-overflow: ellipsis; 
	    cursor:pointer;
	    position:relative;
	    top:0px;
	    left:0px;
	}

	.thcolumn3{
		max-width:100px;
	}
	.divthcolumn3{
	    white-space: nowrap; 
	    overflow: hidden;
	    text-overflow: ellipsis; 
	    cursor:pointer;
	    position:relative;
	    top:0px;
	    left:0px;
	}	
	.thcolumn4{
		max-width:100px;
	}
	.divthcolumn4{
	    white-space: nowrap; 
	    overflow: hidden;
	    text-overflow: ellipsis; 
	    cursor:pointer;
	    position:relative;
	    top:0px;
	    left:0px;
	}
	.thcolumn5{
		max-width:100px;
	}
	.divthcolumn5{
	    white-space: nowrap; 
	    overflow: hidden;
	    text-overflow: ellipsis; 
	    cursor:pointer;
	    position:relative;
	    top:0px;
	    left:0px;
	}
	.thcolumn6{
		max-width:100px;
	}
	.divthcolumn6{
	    white-space: nowrap; 
	    overflow: hidden;
	    text-overflow: ellipsis; 
	    cursor:pointer;
	    position:relative;
	    top:0px;
	    left:0px;
	}
	.thcolumn7{
		max-width:100px;
	}
	.divthcolumn7{
	    white-space: nowrap; 
	    overflow: hidden;
	    text-overflow: ellipsis; 
	    cursor:pointer;
	    position:relative;
	    top:0px;
	    left:0px;
	}
	.thcolumn8{
		max-width:100px;
	}
	.divthcolumn8{
	    white-space: nowrap; 
	    overflow: hidden;
	    text-overflow: ellipsis; 
	    cursor:pointer;
	    position:relative;
	    top:0px;
	    left:0px;
	}
	.thcolumn9{
		max-width:100px;
	}
	.divthcolumn9{
	    white-space: nowrap; 
	    overflow: hidden;
	    text-overflow: ellipsis; 
	    cursor:pointer;
	    position:relative;
	    top:0px;
	    left:0px;
	}
	.thcolumn10{
		max-width:100px;
	}
	.divthcolumn10{
	    white-space: nowrap; 
	    overflow: hidden;
	    text-overflow: ellipsis; 
	    cursor:pointer;
	    position:relative;
	    top:0px;
	    left:0px;
	}
	.thcolumn11{
		max-width:100px;
	}
	.divthcolumn11{
	    white-space: nowrap; 
	    overflow: hidden;
	    text-overflow: ellipsis; 
	    cursor:pointer;
	    position:relative;
	    top:0px;
	    left:0px;
	}
	.thcolumn12{
		max-width:100px;
	}
	.divthcolumn12{
	    white-space: nowrap; 
	    overflow: hidden;
	    text-overflow: ellipsis; 
	    cursor:pointer;
	    position:relative;
	    top:0px;
	    left:0px;
	}


	.thcolumn13{
		max-width:100px;
	}
	.divthcolumn13{
	    white-space: nowrap; 
	    overflow: hidden;
	    text-overflow: ellipsis; 
	    cursor:pointer;
	    position:relative;
	    top:0px;
	    left:0px;
	}


	.thcolumn14{
		max-width:100px;
	}
	.divthcolumn14{
	    white-space: nowrap; 
	    overflow: hidden;
	    text-overflow: ellipsis; 
	    cursor:pointer;
	    position:relative;
	    top:0px;
	    left:0px;
	}

	.thcolumn15{
		max-width:100px;
	}
	.divthcolumn15{
	    white-space: nowrap; 
	    overflow: hidden;
	    text-overflow: ellipsis; 
	    cursor:pointer;
	    position:relative;
	    top:0px;
	    left:0px;
	}

	.thcolumn16{
		max-width:100px;
	}
	.divthcolumn16{
	    white-space: nowrap; 
	    overflow: hidden;
	    text-overflow: ellipsis; 
	    cursor:pointer;
	    position:relative;
	    top:0px;
	    left:0px;
	}

	.thcolumn17{
		max-width:100px;
	}
	.divthcolumn17{
	    white-space: nowrap; 
	    overflow: hidden;
	    text-overflow: ellipsis; 
	    cursor:pointer;
	    position:relative;
	    top:0px;
	    left:0px;
	}

	.thcolumn18{
		max-width:100px;
	}
	.divthcolumn18{
	    white-space: nowrap; 
	    overflow: hidden;
	    text-overflow: ellipsis; 
	    cursor:pointer;
	    position:relative;
	    top:0px;
	    left:0px;
	}

	.thcolumn19{
		max-width:100px;
	}
	.divthcolumn19{
	    white-space: nowrap; 
	    overflow: hidden;
	    text-overflow: ellipsis; 
	    cursor:pointer;
	    position:relative;
	    top:0px;
	    left:0px;
	}

	.thcolumn20{
		max-width:100px;
	}
	.divthcolumn20{
	    white-space: nowrap; 
	    overflow: hidden;
	    text-overflow: ellipsis; 
	    cursor:pointer;
	    position:relative;
	    top:0px;
	    left:0px;
	}

								