@font-face {
    font-family: "proximaNovaLight";
    src: url(../fonts/proximanova/ProximaNova-Light.f5ecce56.woff);
}
@font-face {
    font-family: "proximaNovaRegular";
    src: url(../fonts/proximanova/ProximaNova-Regular.b105baf2.woff);
}